*{
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #333333;
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    
    display: grid;

    grid-template-columns: 15px 45px 650px;
    grid-template-rows: 30px;
    
    grid-column-gap: 20px;
}

P, label, .title {
    color: white;
}

input {
    border: 0;
    background-color: #303030;
    color: white;
}

